.task-checkbox[type="checkbox"]:before {
    display: block;
    width: 24px;
    height: 24px;
    content: "";
}

.task-checkbox[type="checkbox"]:after {
    position: relative;
    display: block;
    left: -4px;
    top: -28px;
    width: 24px;
    height: 24px;
    content: "";
    background-image: url('/src/assets/icons/tasks/incomplete.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.task-checkbox[type="checkbox"]:checked:after {
    background-image: url('/src/assets/icons/tasks/complete.svg');
}